<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="./vue.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css" />
  <title>Techno</title>
</head>

<body>
  <div id="app">

    <section class="modal" v-if="produto" @click="fecharModal" aria-label="detalhes do produto">
      <div class="modal_container">
        <div class="modal_img">
          <img :src="produto.img" :alt="produto.nome" height="450" width="300">
        </div>
        <div class="modal_dados">
          <button class="modal_fechar" @click="produto = false">X</button>
          <span class="modal_preco">{{produto.preco | formatarPreco}}</span>
          <h2 class="modal_titulo">{{produto.nome}}</h2>
          <p class="produto_descricao">{{produto.descricao}}</p>
          <button class="modal_btn">Adicionar Item</button>
        </div>
        <div class="reviews">
          <h2 class="reviews_subtitulo">Avaliações</h2>
          <ul>
            <li v-for="(review, index) in produto.reviews" :key="index" class="review">
              <p class="review_descricao">{{review.descricao}}</p>
              <p class="review_usuario">{{review.nome}} | {{review.estrelas}} estrelas</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="produtos" aria-label="produtos">
      <div class="produto" v-for="item in produtos" @click="abrirModal(item.id)" :key="item.id">
        <img class="produto_img" :src="item.img" :alt="item.nome" height="150" width="300" />
        <div class="produto_info">
          <span class="produto_preco">{{item.preco | formatarPreco}}</span>
          <h2 class="produto_titulo">{{item.nome}}</h2>
        </div>
      </div>
    </section>
  </div>

  <script src="./app.js"></script>
</body>

</html>