<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="./vue.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css" />
  <title>Techno</title>
</head>

<body>
  <div id="app">
    <header class="header">
      <img class="logo" src="./assets/techno.svg" alt="Techno" height="25.6" width="80">
      <div class="carrinho_menu" @click="carrinhoAtivo = true">{{carrinhoTotal | formatarPreco}} | {{carrinho.length}}
      </div>
    </header>

    <section class="produtos" aria-label="produtos">
      <div class="produto" v-for="item in produtos" @click="abrirModal(item.id)" :key="item.id">
        <img class="produto_img" :src="item.img" :alt="item.nome" height="150" width="300" />
        <div class="produto_info">
          <span class="produto_preco">{{item.preco | formatarPreco}}</span>
          <h2 class="produto_titulo">{{item.nome}}</h2>
        </div>
      </div>
    </section>

    <section class="modal" v-if="produto" @click="fecharModal" aria-label="detalhes do produto">
      <div class="modal_container">
        <div class="modal_img">
          <img :src="produto.img" :alt="produto.nome" height="450" width="300">
        </div>
        <div class="modal_dados">
          <button class="modal_fechar" @click="produto = false">X</button>
          <span class="modal_preco">{{produto.preco | formatarPreco}}</span>
          <h2 class="modal_titulo">{{produto.nome}}</h2>
          <p class="produto_descricao">{{produto.descricao}}</p>
          <button v-if="produto.estoque > 0" @click="adicionarItem" class="modal_btn">Adicionar Item</button>
          <button v-else class="modal_btn" disabled>Produto Esgotado</button>
        </div>
        <div class="reviews">
          <h2 class="reviews_subtitulo">Avaliações</h2>
          <ul>
            <li v-for="(review, index) in produto.reviews" :key="index" class="review">
              <p class="review_descricao">{{review.descricao}}</p>
              <p class="review_usuario">{{review.nome}} | {{review.estrelas}} estrelas</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="carrinho_modal" :class="{ativo: carrinhoAtivo}" @click="clickForaCarrinho" aria-label="Carrinho">
      <div class="carrinho_container">
        <button class="carrinho_fechar" @click="carrinhoAtivo = false">X</button>
        <h2 class="carrinho_subtitulo">Carrinho</h2>
        <div v-if="carrinho.length > 0">
          <ul class="carrinho_lista">
            <li v-for="(item, index) in carrinho" class="carrinho_item">
              <p>{{item.nome}}</p>
              <p class="carrinho_preco">{{item.preco | formatarPreco}}</p>
              <button class="carrinho_remover" @click="removerItem(index)">X</button>
            </li>
          </ul>
          <p></p>
          <p class="carrinho_total">{{carrinhoTotal | formatarPreco}}</p>
          <button class="carrinho_finalizar">Finalizar Compra</button>
        </div>
        <p v-else>O carrinho está vazio.</p>
      </div>
    </section>

    <div class="alerta" :class="{ativo: alertaAtivo}">
      <p class="alerta_mensagem">{{mensagemAlerta}}</p>
    </div>

  </div>

  <script src="./app.js"></script>
</body>

</html>